.palka {
  display: flex;

  .cell {
    display: inline-flex;
    border: 2px red solid;
    height: 5rem;
    width: 5rem;
    cursor: pointer;

    .inside {
      margin: auto;
      font-size: 3rem;
    }
  }
}